.c-container {
  height: 90vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.c-form {
  width: 40vw;
  max-width: 450px;
}

.c-form-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.submit-btn {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.bottom-text {
  margin-top: 40px;
  font-size: 14px;
}

.otp-error {
  font-size: 14px;
  text-align: center;
  color: red;
}
