.upload-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.avatar-wrapper {
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.avatar {
  cursor: pointer;
  height: 175px;
  width: 175px;
  border-radius: 50%;
}

.avatar-icon {
  position: absolute;
  left: 100px;
  bottom: -10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-width: 1px;
  background-color: rgb(216, 97, 23);
  display: grid;
  place-items: center;
}

.ant-upload-select-picture-card {
  width: 175px !important;
  height: 175px !important;
  margin: 0 !important;
  opacity: 0;
  /* position: absolute !important; */
  /* display: none !important; */
}
