.upload-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.avatar-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.avatar {
  cursor: pointer;
  height: 175px;
  width: 175px;
  border-radius: 50%;
}

.input-file {
  position: absolute;
  width: -200%;
  opacity: 0;
}
