.c-modal-title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: bold;
}

.c-modal-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;

  display: grid;
  place-items: center;
}

.c-modal-main {
  height: 90%;
  width: 40%;
  position: relative;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
}

.modal-tools {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
  margin-bottom: 40px;
}

.modal-tool {
  display: flex;
  width: 40%;
}

.modaltool-label {
  margin-right: 10px;
}

.modal-tool-item {
  flex: 1;
}

.modal-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.c-modal-btn {
  min-width: 200px;
  max-width: 300px;
}
